body {
    background-color: #00000D;
    color: white;
    font: 12px/18px "Comic Sans MS", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden; /* Prevent scrolling */
}

main {
    flex-grow: 1;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.active {
    display: flex;
}

#counter-icon {
    font-size: 24px;
    margin-right: 8px;
}

.counter-value {
    color: white;
    line-height: 1;
    transition: transform 0.3s;
}

#clickable-image {
    border: none;
    background: none;
    padding: 0;

}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.feedback {
    position: absolute;
    font-size: 2rem; /* Adjust size as needed */
    color: white; /* Change color to match your design */
    pointer-events: none; /* Prevent interaction */
    transition: opacity 0.6s ease-out; /* Optional for smoother fading */
}

@keyframes cabbage-click {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.clicked {
    animation: scaleUp 0.3s ease forwards;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    bottom: 0;
    width: 100%;
}

.tab {
    cursor: pointer;
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.tab img {
    width: 32px;
    border: none;
}

.tab span {
    font-size: 12px;
    display: block;
}

.active-tab {
    background-color: green;
    border-radius: 5px;
}

#header {
    margin-top: 16px;
}

#level-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

#level-icon {
    font-size: 24px; /* Adjust level icon size */
    margin-right: 8px;
}

#energy-bar-container {
    text-align: center;
    width: 50%;
}

#energy-fill {
    transition: width 0.3s;
    height: 100%;
    background-color: yellow;
    border-radius: 5px;
}